In [1]:
#To compute and analyze basic statistical measures for numerical columns in the dataset

In [87]:
import pandas as pd
from pandas.api.types import is_numeric_dtype
import numpy as np

In [65]:
df = pd.read_csv(r"C:\Users\Dell\Desktop\sales_data_with_discounts.csv")

In [66]:
df.head()

,Date,Day,SKU,City,Volume,BU,Brand,Model,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
0,01-04-2021,Thursday,M01,C,15,Mobiles,RealU,RU-10,12100,181500,11.654820,21153.498820,160346.501180
1,01-04-2021,Thursday,M02,C,10,Mobiles,RealU,RU-9 Plus,10100,101000,11.560498,11676.102961,89323.897039
2,01-04-2021,Thursday,M03,C,7,Mobiles,YouM,YM-99,16100,112700,9.456886,10657.910157,102042.089843
3,01-04-2021,Thursday,M04,C,6,Mobiles,YouM,YM-99 Plus,20100,120600,6.935385,8364.074702,112235.925298
4,01-04-2021,Thursday,M05,C,3,Mobiles,YouM,YM-98,8100,24300,17.995663,4372.946230,19927.053770

In [23]:
# 	Identify numerical columns in the dataset.

In [67]:
df.dtypes

Date                  object
Day                   object
SKU                   object
City                  object
Volume                 int64
BU                    object
Brand                 object
Model                 object
Avg Price              int64
Total Sales Value      int64
Discount Rate (%)    float64
Discount Amount      float64
Net Sales Value      float64
dtype: object

In [68]:
df["Discount Amount"]

0      21153.498820
1      11676.102961
2      10657.910157
3       8364.074702
4       4372.946230
           ...
445      402.367873
446     2660.896242
447      606.897606
448      957.201826
449      475.332295
Name: Discount Amount, Length: 450, dtype: float64

In [69]:
is_numeric_dtype(df["Discount Amount"])

True

In [70]:
is_numeric_dtype(df["BU"])

False

In [71]:
df.columns

Index(['Date', 'Day', 'SKU', 'City', 'Volume', 'BU', 'Brand', 'Model',
       'Avg Price', 'Total Sales Value', 'Discount Rate (%)',
       'Discount Amount', 'Net Sales Value'],
      dtype='object')

In [72]:
list(df.columns)

['Date',
 'Day',
 'SKU',
 'City',
 'Volume',
 'BU',
 'Brand',
 'Model',
 'Avg Price',
 'Total Sales Value',
 'Discount Rate (%)',
 'Discount Amount',
 'Net Sales Value']

In [73]:
[c for c in df.columns]

['Date',
 'Day',
 'SKU',
 'City',
 'Volume',
 'BU',
 'Brand',
 'Model',
 'Avg Price',
 'Total Sales Value',
 'Discount Rate (%)',
 'Discount Amount',
 'Net Sales Value']

In [74]:
list(c for c in df.columns)

['Date',
 'Day',
 'SKU',
 'City',
 'Volume',
 'BU',
 'Brand',
 'Model',
 'Avg Price',
 'Total Sales Value',
 'Discount Rate (%)',
 'Discount Amount',
 'Net Sales Value']

In [78]:
list(c for c in df.columns)

['Date',
 'Day',
 'SKU',
 'City',
 'Volume',
 'BU',
 'Brand',
 'Model',
 'Avg Price',
 'Total Sales Value',
 'Discount Rate (%)',
 'Discount Amount',
 'Net Sales Value']

In [2]:
/pwc/

NameError: name 'pwc' is not defined

In [79]:
[len(c) for c in df.columns]

[4, 3, 3, 4, 6, 2, 5, 5, 9, 17, 17, 15, 15]

In [82]:
[c for c in df.columns if len(c) == 15]

['Discount Amount', 'Net Sales Value']

In [86]:
[c for c in df.columns if is_numeric_dtype(df[c])]

['Volume',
 'Avg Price',
 'Total Sales Value',
 'Discount Rate (%)',
 'Discount Amount',
 'Net Sales Value']

In [ ]:
# 	Calculating the mean, median, mode, and standard deviation for these columns.

In [103]:
df.describe()

,Volume,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
count,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000
mean,5.066667,10453.433333,33812.835556,15.155242,3346.499424,30466.336131
std,4.231602,18079.904840,50535.074173,4.220602,4509.902963,46358.656624
min,1.000000,290.000000,400.000000,5.007822,69.177942,326.974801
25%,3.000000,465.000000,2700.000000,13.965063,460.459304,2202.208645
50%,4.000000,1450.000000,5700.000000,16.577766,988.933733,4677.788059
75%,6.000000,10100.000000,53200.000000,18.114718,5316.495427,47847.912852
max,31.000000,60100.000000,196400.000000,19.992407,25738.022194,179507.479049